.badge {
    content: attr(value);
    font-size: 10px;
    color: #fff;
    background: red;
    border-radius: 100%;
    padding: 2px 3px;
    position: relative;
    left: -8px;
    top: -17px;
    opacity: 0.9;
}

.navbar-brand {
    margin-left: 5px;
}

.navbar {
    background-color: gainsboro;
}